*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.hero{
    position: relative;
    height: 900vh;
    z-index: inherit;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.welCome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    color: #ffc800;
    font-size: 50px;

    min-height: 100vh;
    padding-top: 100vh;
    padding-bottom: 100vh;
    margin-bottom: 40%;
    
    animation: moveUp linear forwards;
    animation-timeline: scroll();
    animation-range: 0% 10%;
}

.welCome p{
    color: #ffc800;
    font-size: 50px;
    margin: 10px;
}

@keyframes moveUp {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -250%); /* Moves up */
        opacity: 0;
    }
}
/* index page start here */

.achiCL {
    position: relative;
    height: 900vh;
    margin-bottom: 20px;
    z-index: 5;
}

.achi1, .achi2, .achi3, .achi4 {
    position: fixed;
    background-color: #ffffff82;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    text-align: center;
    align-content: center;
    border: solid #00ccff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 40px #00ccff;
    opacity: 0;
    font-size: 25px;

    /* Scroll-driven animation */
    animation: achiAni linear forwards;
    animation-timeline: scroll();
}


.achi1 {
    animation-range: 0% 20%;
    left: 10%;
}

.achi2 {
    animation-range: 20% 40%;
    right: 10%;
}

.achi3{
    animation-range: 40% 60%;
    left: 10%;
}

.achi4 {
    animation-range: 60% 80%;
    right: 10%;
}

.achi5 {
    animation-range: 80% 100%;
    left: 10%;
    position: absolute;
    background-color: #ffffff82;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    text-align: center;
    align-content: center;
    border: solid #00ccff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 40px #00ccff;
    opacity: 0;
    font-size: 25px;

    /* Scroll-driven animation */
    animation: achiAni linear forwards;
    animation-timeline: scroll();
}



@keyframes achiAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    25% {
        transform: translateY(0px);
        opacity: 1;
    }
    
    50% {
        transform: translateY(0px);
        opacity:1;
    }
    100% {
        transform: translateY(200px);
        opacity: 0;
    }
}

/* index page animation end here */


.learbrocro{
    position: absolute;
    padding-left: 36%;
    /* height: 600vh; */
    align-items: center;
    justify-items: center;
    /* z-index: 30; Higher than video */
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); Solid background */
}