body{
  background-color: #000000;
}
.mainLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.loginBox {
    background: #ffffff;
    padding: 30px;
    width: 500px;
    min-height: 500px;
    border: 2px solid #000000;  
    border-radius: 10px;
}

.credentials {
  background: #845763;/*webkit-repeating-linear-gradient(#838383, #ffffff);*/
  margin-top: 40%;
  margin-bottom: 40%;
  padding: 40px 50px;
  border-radius: 10px;
  width: 400px;
  background-color: #AD49E1;
  box-shadow: 0 0 5px  rgb(110, 110, 110);
}

.credentials h1 {
  text-align: center;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"]{
  
  display: block;
  width: 90%;
  padding: 6px 15px;
  align-items: center;
  border: 2px solid #989898;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}


/* Hover effect */
input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #2575fc;
}

/* Focus effect */
input[type="text"]:focus,
input[type="password"]:focus {
  color: #00ffff;
  background-color: #202020;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
  
}

.buttons{
  align-content: center;
  margin: 20px;
}

.buttons button{
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #7A1CAC;
  color: #000000;
  
}
.regsubbutton{
  width: 350px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
}